.post-ad {
    display: flex;
    justify-content: center;
}

.post-card {
    display: flex;
    width: 35%;
}

.post-input {
    width:100%;
    margin: 25px 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.postad-btn:hover {
    background-color: rgb(81, 81, 182);
    cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}